﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Expence.aspx.cs" Inherits="WebServices.Expence" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:DropDownList runat="server" ID="ddlCat" ClientIDMode="Static">
                <asp:ListItem Value="0" Selected="True">--Select---</asp:ListItem>
            </asp:DropDownList>
        </div>
    </form>
</body>
</html>
